<template>
  <div class="1">页面正在跳转，请稍后。。。</div>
</template>

<script>
import Vue from "vue";
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {
    let code = this.$route.query.code;
    console.log(this.$route.query.route);
    console.log(code);
    if (this.$route.query.route == 1) {
      console.log('走1')
      if (code) {
        this.$store.dispatch("getOpenId", { code }).then((res) => {
          if (res.result) Vue.ls.set("openid", res.result);
          console.log(res)
          this.$store.dispatch("login", {
            openId: res.result,
          });
        });
      } else {
        console.log(process.env.VUE_APP_AUTH_URL);
        window.location.href = process.env.VUE_APP_AUTH_URL;
        // window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3781844360afdc69&redirect_uri=http://6sp3cy.natappfree.cc&response_type=code&scope=snsapi_userinfo&state=menu#wechat_redirect";
      }
    } else {
      console.log('走2')
      if (code) {
        this.$store.dispatch("getOpenId", { code }).then((res) => {
          console.log(res)
          if (res.result) {
            Vue.ls.set("openid", res.result);
            this.$store.dispatch("radarlogin", {
              openId: res.result,
            });
          } 
        });
      } else {
        console.log(process.env.VUE_APP_AUTH_URL);
        window.location.href = process.env.VUE_APP_RADAR_URL;
        // window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3781844360afdc69&redirect_uri=http://6sp3cy.natappfree.cc&response_type=code&scope=snsapi_userinfo&state=menu#wechat_redirect";
      }
    }
  },
  filters: {},
  watch: {
    // openId: function(val) {
    //   if (val) {
    //     this.$store.dispatch("login", {
    //       openId: sessionStorage.getItem("openId"),
    //     });
    //   }
    // },
  },
  computed: {
    ...mapState({
      openId: (state) => state.radar.openId,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped></style>
