<template>
  <div class="">页面正在跳转到安装工端，请稍后。。。</div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {};
  },
  methods: { ...mapMutations([]) },

  mounted() {
    let code = this.$router.currentRoute.query.code;
    if (code) {
      this.$store.dispatch("getOpenId", { code })
      .then(res =>{
        if(res.result)
          Vue.ls.set("openid",res.result.openId)
          this.$store.dispatch("radarlogin", {
          openId: res.result.openId,
        });
      })
    } else {
      console.log(process.env.VUE_APP_AUTH_URL);
      window.location.href = process.env.VUE_APP_RADAR_URL;
      // window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3781844360afdc69&redirect_uri=http://6sp3cy.natappfree.cc&response_type=code&scope=snsapi_userinfo&state=menu#wechat_redirect";
    }
  },
  filters: {},
  watch: {
    // openId: function(val) {
    //   if (val) {
    //     this.$store.dispatch("login", {
    //       openId: sessionStorage.getItem("openId"),
    //     });
    //   }
    // },
  },
  computed: {
    ...mapState({
      openId: (state) => state.radar.openId,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped></style>
