<template>
  <div class="ananEsteward">
    <!-- <div class="ananEsteward_back">
      <span class="backIcon" @click="goback"> {{backtext}} </span>
    </div> -->
   
    <div class="eleCarList" v-show="eleCarListShow">
      <div class="elecaritem" v-for="item in 3" :key="item" @click="selectELE">
        沪C19245
      </div>
    </div>
    <div class="eleCartimeList">
      <div class="eleCarTimeListItem" v-for="item in getlockList.results" :key="item.id" >
      <!-- <div class="eleCarTimeListItem" v-for="item in getlockList.results" :key="item.id" > -->
        <div @click="editLock(item)">
            <div class="eleCarTimeListItem_time">
              {{ item.start }}--{{ item.end }}
            </div>
            <div class="eleCarTimeListItem_day">
                <span v-for="week in item.repeatPeriod" :key="week" style="font-size:11px">{{weekToString(week)}}</span>
            </div>
        </div>
        
        <div class="eleCarTimeListItem_radiu">
          <div class="switch_rigth">
            <!-- <el-switch
              v-model="item.enabled"
              active-color="#13ce66"
              
              :active-value="1"
              :inactive-value="0"
              inactive-color="#d0d0d0"
              @change="editlockStatus(item)"
            ></el-switch> -->


            <xsSwitch  v-model="item.enabled" @change="editlockStatus(item)"></xsSwitch>
          </div>
        </div>
        
        
      </div>
      <div class="addTime" @click="openAddTime">+</div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
import xsSwitch from "../../../components/xsSwitch.vue"
export default {
  data() {
    return {
      bikeId: "",
      eleCarListShow: false,
      selectElecar: "沪M13276",
      value: false,
      backtext:"<",
      mSwitch:false
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    showelelist() {
      this.eleCarListShow = !this.eleCarListShow;
      const selectItem = document.getElementsByClassName("eleCarList");
      if (this.eleCarListShow) {
        selectItem[0].className += " magictime swap";
      } else {
        selectItem[0].className = "eleCarList";
      }
    },
    selectELE() {
      this.selectElecar = "沪C19245";
    },
    editlockStatus(item){
      console.log(item.enabled);
    let params =  {
      enabled:item.enabled,
      end: item.end,
      repeatPeriod: item.repeatPeriod,
      bikeUrn: this.urn,
      start: item.start,
      id:item.id
    }
    if(item.enabled){
      params.enabled = true;
    }else{
      params.enabled = false;
    }
      this.$store.dispatch("editlockConfig",[params]);
    },
    openAddTime() {
      // this.$router.push({
      //   path: `/radar/lockSetting?urn=${this.urn}`,
      // });
      this.$router.push({
        name: "LOCKSETTING",
        params:{
          urn:this.urn
        }
      });
    },
    weekToString(val){
      switch (val){
        case 1:
            return "周一、";
        case 2:
            return "周二、";
        case 3:
            return "周三、";
        case 4:
            return "周四、";
        case 5:
            return "周五、";
        case 6:
            return "周六、";
        case 7:
            return "周日";
        
        default:
          break
      }
    },
    getCurrentBikeLocks(){
      let params = {
        bikeUrn:this.urn
      };
      this.$store.dispatch("getlockList",params);
    },
    goback(){
      this.$router.push("/radar/dashboard");
    },
    editLock(item){
      this.$router.push({
        name: "EDITLOCK",
        params:{
          start: item.start,
          end: item.end,
          repeatPeriod: item.repeatPeriod,
          enabled:item.enabled,
          bikeUrn: this.urn,
          id:item.id
        }
      });
    },
    switchChange(val){
      console.log(val)
    }
    
  },

  created() {},
  mounted() {
    this.urn = this.$router.currentRoute.query.urn;
    this.getCurrentBikeLocks();   
  },
  watch: {},
  computed: {
    ...mapState({
      getlockList: (state) => state.radar.getlockList,
    }),
    ...mapGetters([]),
  },
  components: {
    xsSwitch
  },
};
</script>

<style lang="less" scoped>
.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.backIcon{
  height: 25px;
  width: 30px;
}
@import "~@/assets/less/radar/esteward.less";
</style>
