<template>
  <div class="ananEsteward">
    <div class="ananEsteward_id">
      <span>{{ bikeList[selectIndex].licensePlate }}</span>
    </div>
    <div class="ananEsteward_down" @click.stop="showelelist">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/%E5%90%91%E4%B8%8B.png"
        alt=""
      />
    </div>
    <div class="eleCarList" v-show="eleCarListShow">
      <div
        class="elecaritem"
        v-for="(item,index) in bikeList"
        :key="item.urn"
        @click="selectELE(item,index)"
      >
        {{ item.licensePlate }}
      </div>
    </div>
    <div class="ananEsteward_lock_1" v-show="bikeList[selectIndex].properties.lockStatus == 'UNLOCK'" @click="lockBike">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/lv%403x.png"
        alt=""
      />
    </div>
    <div class="ananEsteward_lock_2" v-show="bikeList[selectIndex].properties.lockStatus == 'LOCK'" @click="unLockBike">
      <img
        src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/hong%403x.png"
        alt=""
      />
    </div>
    <div class="lock_operate">
      <div class="lock_operate_item" @click="operate(1)">
        <div class="lock_operate_item_wai_ql lock_operate_item_wai">
          <div class="lock_operate_item_nei">
            <div class="lock_operate_item_nei_btn lock_operate_item_nei_btn_sl">
              信息查询
            </div>
          </div>
        </div>
      </div>
      <div class="lock_operate_item" @click="operate(2)">
        <div class="lock_operate_item_wai_qh lock_operate_item_wai">
          <div class="lock_operate_item_nei ">
            <div class="lock_operate_item_nei_btn lock_operate_item_nei_btn_sf">
              自动上锁
            </div>
          </div>
        </div>
      </div>
      <div class="lock_operate_item" @click="operate(3)">
        <div class="lock_operate_item_wai_sh lock_operate_item_wai">
          <div class="lock_operate_item_nei">
            <div class="lock_operate_item_nei_btn lock_operate_item_nei_btn_sh">
              解除绑定
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {
      isLocked: false,
      eleCarListShow: false,
      selectElecar: "",
      currentLockInfo:{},
      selectIndex:0
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    unLockBike() {
      let r = confirm("是否确定解锁该电动车？");
      if (r) {
        this.updateLock("UNLOCK");
      }
    },
    lockBike() {
      this.updateLock("LOCK");
    },
    operate(index) {
      switch (index) {
        case 1:
          this.$router.push({
            path: `/radar/personal?urn=${this.currentBike.urn}`,
          });
          break;
        case 2:
          this.$router.push(
            `/radar/autolockList?urn=${this.currentBike.urn}`
          );

          break;
        case 3:
          var r = confirm(
            `是否确定解绑车辆?`
          );
          if (r) {
            this.$store.dispatch("unbindUser", {
              accountUrn:Vue.ls.get("userAccountUrn")
            }).then(res=>{
              if(!res.error){
                alert("已解绑")
                Vue.ls.clear()
                window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxcda575293f5c2226&redirect_uri=https://radar.bearhunting.cn?route=1&response_type=code&scope=snsapi_userinfo&state=menu&connect_redirect=1#wechat_redirect'
              }
            })
          }
          break;
      }
    },
    showelelist() {
      this.eleCarListShow = !this.eleCarListShow;
      const selectItem = document.getElementsByClassName("eleCarList");
      const ananEsteward_down = document.getElementsByClassName(
        "ananEsteward_down"
      );
      if (this.eleCarListShow) {
        selectItem[0].className += " magictime perspectiveUpReturn";
        ananEsteward_down[0].style.transform = "rotate(0deg)";
      } else {
        selectItem[0].className = "eleCarList";
        ananEsteward_down[0].style.transform = "rotate(-90deg)";
      }
    },
    selectELE(item,index) {
      this.currentBike = item;
      this.selectElecar = item.licensePlate;
      this.eleCarListShow = !this.eleCarListShow;
      this.selectIndex = index
      // this.bikeList.forEach((bike) => {
      //   if (bike.licensePlate == this.selectElecar){
      //     this.currentBike = bike;
      //   }
      // });
      if(item.urn != this.currentBike.urn){
          this.getCurrentBikeLocks();
      }
      if(item.properties.lockStatus == "LOCK"){
          this.isLocked = true;
      }else{
          this.isLocked = false;
      }
     
    },
    getBikeInfo(){
      let par = {};
        par.owner = Vue.ls.get("memberUrn");
        this.$store.dispatch("getBikeList", par);
    },
    updateLock(action){
      let params =  {
        action :action,
        bikeUrn: this.currentBike.urn,
      };
      this.$store.dispatch("lock",params)
      .then(res=>{
          if(!res.error){
              //记录当锁状态为2或3时的锁信息
              // res.results.forEach(item=>{
              //     if(item.enable == 2 || item.enable == 3){
              //         this.currentLockInfo = item;
              //     }
              // })
              res;
              //锁状态更新成功,立即更新页面ui
              this.isLocked = !this.isLocked;
              //根据锁状态,弹出上锁或解锁标志
              this.getBikeInfo();
              if(action == "LOCK"){
                  const locku = document.getElementsByClassName("ananEsteward_lock_2");
                  locku[0].className += " magictime vanishIn";
                  Vue.prototype.$message({
        
                      message:'已上锁'
                  });
                  
              }else{
                  const lock = document.getElementsByClassName("ananEsteward_lock_1");
                  lock[0].className += " magictime vanishIn";
                  Vue.prototype$message({
                      type:"success",
                      message:'已解锁'
                  });
              }
              
          }
      })
    },
    getCurrentBikeLocks(){
      let params = {
        bikeUrn:this.currentBike.urn
      };
      this.$store.dispatch("getlockList",params);
    }
  },
  created() {},
  mounted() {
    // this.$store.dispatch("login", { openId: sessionStorage.getItem("openId") });
    this.getBikeInfo();
  },
  watch: {
    userInfo: function(val) {
      if (val) {
        // this.getBikeInfo();
      }
    },
    bikeList: function(val) {
      if (val) {
        this.selectElecar = val[0].licensePlate;
        this.currentBike = val[0];
        if(this.currentBike.properties.lockStatus == "LOCK"){
            this.isLocked = true;
        }else{
            this.isLocked = false;
        }
        this.getCurrentBikeLocks();
      }
    },
  },
  computed: {
    ...mapState({
      bikeList: (state) => state.radar.bikeList,
      userInfo: (state) => state.radar.userInfo,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped>
.magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@import "~@/assets/less/radar/esteward.less";
</style>
