<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" >
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    
    <title>安安上海</title>
    <style>
      html,body{
        margin: 0;
        height: 100%;
      }
    </style>
    
  </head>
  <body>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"  type="text/javascript"></script>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
