<template>
  <div class="container">
    <!-- <div class="ananEsteward_back">
     
      <span class="backIcon" @click="$router.go(-1)"> {{backtext}} </span>

    </div> -->
    <div class="time-style">
      <div class="time-item">
        <van-datetime-picker
          v-model="currentTime1"
          :show-toolbar="false"
          :visible-item-count="3"
          type="time"
          :min-hour="0"
          :max-hour="23"
        />
      </div>
      <div class="time-center">
        到
      </div>
      <div class="time-item">
        <van-datetime-picker
          v-model="currentTime2"
          :show-toolbar="false"
          :visible-item-count="3"
          type="time"
          :min-hour="currentTime1Hour"
          :max-hour="23"
        />
      </div>
    </div>

    <div class="date-box">
      <div class="date-title">重复日期</div>
      <div class="date-item" @click="selectWeekDay(index)" v-for="(item,index) in btnlist" :key="index">
        {{item.name}}
        <span class="select-icon" v-if="item.show" >√</span>
      </div>
    </div>
    
    <div class="button-style" @click="closeAndBack">
      确定
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      urn: "",
      weekList: [],
      currentTime1: "00:00",
      currentTime2: "23:00",
      checkList: [false, true, true, false, true, true, true],
      activeIcon:
        "https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/duihao.png",
      inactiveIcon: "",
      weekDayList: [],
      weekMap: {
        0: "周一",
        1: "周二",
        2: "周三",
        3: "周四",
        4: "周五",
        5: "周六",
        6: "周日",
      },
      backtext:"<-",
      btnlist:[
        {name:'周一',show:true},
        {name:'周二',show:true},
        {name:'周三',show:true},
        {name:'周四',show:true},
        {name:'周五',show:true},
        {name:'周六',show:true},
        {name:'周日',show:true}
      ]
    };
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([]),
    checkit(item,index){
        item;
        this.btnlist[index].show = !this.btnlist[index].show

    },
    closeAndBack() {
      let newList = [];
      this.btnlist.forEach((item, index) => {
        if (item.show) {
            newList.push(index+1);
        }
      });
      // let t2 = this.currentTime2.split(':')
      // let t1 = this.currentTime1.split(':')
      let p = {
        start: this.currentTime1+":00",
        end: this.currentTime2+":00",
        repeatPeriod: newList,
        enabled:true,
        bikeUrn: this.urn,
      };
      
      this.$store.dispatch("editlockConfig", [p])
      .then(res =>{
        if(res.results.length > 0){
            this.getCurrentBikeLocks();
        } 
      })
    },
    getCurrentBikeLocks(){
      this.$router.go(-1)
      // this.$router.push({
      //   path: `/radar/autolockList?urn=${this.urn}`,
      // });
    },
    selectWeekDay(val){
      switch(val){
        case 0:
          this.btnlist[0].show = !this.btnlist[0].show;
          break;
        case 1:
          this.btnlist[1].show = !this.btnlist[1].show;
          break;
        case 2:
          this.btnlist[2].show = !this.btnlist[2].show;
          break;
        case 3:
          this.btnlist[3].show = !this.btnlist[3].show;
          break;
        case 4:
          this.btnlist[4].show = !this.btnlist[4].show;
          break;
        case 5:
          this.btnlist[5].show= !this.btnlist[5].show;
          break;
        case 6:
          this.btnlist[6].show = !this.btnlist[6].show;
          break;
      }
      
    },
    addLock(){

    }
  },

  mounted() {
    // console.log(this.$route.params.urn);
    this.urn = this.$route.params.urn;
  },
  watch: {},
  computed: {
    currentTime1Hour: function() {
      return this.currentTime1.split(":")[0];
    },
    ...mapState({
      timeList: (state) => state.radar.timeList,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/radar/lockSetting";
.icon-style-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  // .van-checkbox__icon {
  //   margin-right: 10px;
  // }
}
.backIcon{
  height: 45px;
  width: 20px;
  display: flex;
  font-size: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
</style>
