<template>
  <div class="container">
    <div class="ananEsteward_back">
      <!-- <i class="el-icon-back" @click="$router.go(-1)"></i> -->
    </div>
    <div class="user-info">
      <div class="info-title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/chezhu%402x.png"
          alt=""
        />
        车主信息
      </div>
      <div class="info-box user-name">
        车主姓名：{{ userInfo.properties.account.member.nickName || "" }}
      </div>
      <div class="info-box">
        车主电话：{{ userInfo.properties.account.member.phones[0] || "" }}
      </div>
    </div>
    <!-- <div class="user-info" v-for="bike in bikeList" :key="bike.urn">
      
      <div class="info-title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/diandongche%402x.png"
          alt=""
        />
        已绑定车辆信息
      </div>
      <div class="info-box user-name">
        品牌：{{ bike.productModel.brandName }}
      </div>
      <div class="info-box">车牌号：{{ bike.licensePlate }}</div>
      <div class="info-box">安装地点：{{ bike.properties.locationName }}</div>
      <div class="info-box">
        安装时间：
        {{  timestampToTime(bike.auditHead.createTime) }}
      </div>
      <div class="info-box">
        <div>图片：</div>
        <div class="imgs-box">
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.LEFT.length > 0"
          >
            <div style="font-size:13px">车辆侧身</div>
            <img
              :src="bike.snapshots.LEFT[0].url"
              alt=""
            />
          </div>
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.FRONT.length > 0"
          >
            <span style="font-size:13px">车头照片</span>
            <img
              :src="bike.snapshots.FRONT[0].url"
              alt=""
            />
          </div>
          
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.BACK.length > 0"
          >
            <span style="font-size:13px">车尾照片</span>
            <img
              :src="bike.snapshots.BACK[0].url"
              alt=""
            />
          </div>
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.LICENSE.length > 0"
          >
            <span style="font-size:13px">拍照或品牌</span>
            <img
              :src="bike.snapshots.LICENSE[0].url"
              alt=""
            />
          </div>
          
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.SIN_FRONT.length > 0"
          >
            <span style="font-size:13px">车主身份证正面</span>
            <img
              :src="bike.snapshots.SIN_FRONT[0].url"
              alt=""
            />
          </div>
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.SIN_BACK.length > 0"
          >
            <span style="font-size:13px">车主身份证反面</span>
            <img
              :src="bike.snapshots.SIN_BACK[0].url"
              alt=""
            />
          </div>
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.ENGINE.length > 0"
          >
            <span style="font-size:13px">电机号照片</span>
            <img
              :src="bike.snapshots.ENGINE[0].url"
              alt=""
            />
          </div>
          <div
            class="car-photo"
            @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.VIN.length > 0"
          >
            <span style="font-size:13px">车架号</span>
            <img
              :src="bike.snapshots.VIN[0].url"
              alt=""
            />
          </div>
        </div>
      </div>
    </div> -->
    <div class="user-info" v-for="bike in bikeList" :key="bike.urn">
      <div class="info-title">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/diandongche%402x.png"
          alt=""
        />
        已绑定车辆信息
      </div>
      <div class="info-box user-name">
        品牌：{{ bike.productModel.brandName }}
      </div>
      <div class="info-box">车牌号：{{ bike.licensePlate }}</div>
      <div class="info-box">安装地点：{{ bike.properties.locationName }}</div>
      <div class="info-box">
        安装时间：
        {{ timestampToTime(bike.auditHead.createTime) }}
      </div>
      <div class="info-box">
        <div>图片：</div>

        <div class="imgs-box">
          <div class="car-photo" @click="openBigPic(bike, 1)"
            v-if="bike.snapshots.LEFT!==undefined&&bike.snapshots.LEFT.length>0"
          >
            <div style="font-size: 13px">车辆侧身</div>

            <img :src="bike.snapshots.LEFT[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.FRONT!==undefined&&bike.snapshots.FRONT.length>0"
          >
            <span style="font-size: 13px">车头照片</span>

            <img :src="bike.snapshots.FRONT[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
           v-if="bike.snapshots.BACK!==undefined&&bike.snapshots.BACK.length>0"
          >
            <span style="font-size: 13px">车尾照片</span>

            <img :src="bike.snapshots.BACK[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.LICENSE!==undefined&&bike.snapshots.LICENSE.length>0"
          >
            <span style="font-size: 13px">拍照或品牌</span>

            <img :src="bike.snapshots.LICENSE[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.SIN_FRONT!==undefined&&bike.snapshots.SIN_FRONT.length>0"
          >
            <span style="font-size: 13px">车主身份证正面</span>

            <img :src="bike.snapshots.SIN_FRONT[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.SIN_BACK!==undefined&&bike.snapshots.SIN_BACK.length>0"
          >
            <span style="font-size: 13px">车主身份证反面</span>

            <img :src="bike.snapshots.SIN_BACK[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.ENGINE!==undefined&&bike.snapshots.ENGINE.length>0"
          >
            <span style="font-size: 13px">电机号照片</span>

            <img :src="bike.snapshots.ENGINE[0].url" alt="" />
          </div>

          <div class="car-photo" @click="openBigPic(bike, 1)"
          v-if="bike.snapshots.VIN!==undefined&&bike.snapshots.VIN.length>0"
          >
            <span style="font-size: 13px">车架号</span>

            <img :src="bike.snapshots.VIN[0].url" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="big-pic" v-if="showBigPic" @click="closeBigPic">
      <div class="img-box">
        <img style="height: 100%; width: 100%" :src="currentImg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue';
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

export default {
  data() {
    return {
      currentImg: "",
      showBigPic: false,
      urn: "",
      bikeInfo: {},
    };
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([]),
    openBigPic(bike, position) {
      if (position == 1) {
        this.currentImg =
          process.env.VUE_APP_IMG_URL + bike.bikeEntity.snapshots.FRONT[0].url;
      } else {
        this.currentImg =
          process.env.VUE_APP_IMG_URL + bike.bikeEntity.snapshots.BACK[0].url;
      }
      this.showBigPic = true;
    },
    closeBigPic() {
      this.showBigPic = false;
    },
    timestampToTime(cjsj) {
      var date = new Date(cjsj); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
      var Y = date.getFullYear() + "-";
      var M =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      var D = date.getDate() + " ";
      var h = date.getHours() + ":";
      var m = date.getMinutes() + ":";
      var s = date.getSeconds();
      return Y + M + D + h + m + s;
    },
  },

  mounted() {
    // this.$store.dispatch("login", { openId: sessionStorage.getItem("openId") });
    // this.urn = this.$router.currentRoute.query.urn;
    // let par = {};
    // par.owner = Vue.ls.get("memberUrn");
    // this.$store.dispatch("getBikeList",par)
    // then(res =>{
    //     if(res.reults.length> 0){
    //         res.reults.forEach(item => {
    //             if(item.urn == this.urn){
    //                 this.bikeInfo = item;
    //             }
    //         });
    //     }
    // })
    console.log(this.bikeList)
   
  },
  filters: {
    convertTimeString: function (val) {
      let d = new Date(val);
      return d.toLocaleDateString() + d.toLocaleTimeString();
    },
  },
  watch: {},
  computed: {
    imgPrefix: function () {
      return process.env.VUE_APP_IMG_URL;
    },
    ...mapState({
      userInfo: (state) => state.radar.userInfo,
      bikeList: (state) => state.radar.bikeList,
      // singlebikeInfo: (state) => state.radar.singlebikeInfo,
    }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/radar/info";
</style>
