<template>
  <div class="container">
    <div class="title-name">安安上海</div>
    <div class="username input-box">
      <div class="img-box">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/username.png"
          alt=""
        />
      </div>
      <input v-model="username" type="text" placeholder="请输入姓名" />
    </div>
    <div class="username input-box">
      <div class="img-box">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/idcard.png"
          alt=""
        />
      </div>
      <input v-model="idcard" type="text" placeholder="请输入手机号" />
    </div>
    <div class="login-button" @click="login">绑 定</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import Vue from "vue";
export default {
  data() {
    return { username: "", idcard: "" };
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([]),
    login() {
      if (this.username && this.idcard) {
        if (sessionStorage.getItem("openId")) {
          this.$store.dispatch("bindUser", {
            // idCardNumber: this.idcard,
            name: this.username,
            openId: Vue.ls.get("openid"),
            phone: this.idcard,
            roles: ["BicycleOwner"],
            bindType: "mp",
          });
        } else {
          window.location.href = process.env.VUE_APP_AUTH_URL;
        }
      } else {
        alert("请输入姓名或身份证号");
      }
    },
  },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({}),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/radar/login";
</style>


