.ananEsteward{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    // 自动做列表
    .eleCartimeList{
        width: 90%;
        margin-top: 20px;
        padding: 10px 15px 15px;
        border-radius: 10px;
        background-color: white;
        .addTime{
            width: 50px;
            height: 50px;
            background-color: #fb5e3d;
            border-radius: 50%;
            margin: 30px auto 0;
            font-size: 35px;
            color: white;
            line-height: 50px;
        }
        .eleCarTimeListItem{
            width: 100%;
            height: 80px;
            border-bottom: 1px solid #dcdcdc;
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 50% 50%;
            margin-top: 20px;
            .eleCarTimeListItem_radiu{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                .switch_rigth{
                    width: 60px;
                    height: 25px;
                    // background: lightcoral;
                    margin: 25px auto;
                    border-radius: 12.5px;
                }
            }
            .eleCarTimeListItem_time{
                text-align: left;
                color: black;
                font-size: 20px;
            }
            .eleCarTimeListItem_day{
                text-align: left;
                color: #9e9d9d;
            }
        }
    }
    // 首页
    .ananEsteward_id{
        height: 40px;
        width: 100%;
        // background: #666;
        line-height: 40px;
        color: #323232;
    }
    .ananEsteward_back{
        height: 40px;
        width: 100%;
        line-height: 40px;
        text-align: left;
        font-size: 25px;
    }
    .ananEsteward_down{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 32px;
        right: 30px;
        transform: rotate(-90deg);
        transition: all .5s;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .eleCarList{
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
        
        .elecaritem:first-child{
            border-top: 1px solid #eee; 
        }
        .elecaritem{
            height: 40px;
            line-height: 40px;
            background: brown;
            background: #f6f6f6;
            border-bottom: 1px solid #eee;
        }
    }
    .ananEsteward_lock_1,.ananEsteward_lock_2{
        width: 80%;
        img{
            width: 100%;
        }
        margin: 50px auto;
    }
    .lock_operate{
        width: 100%;
        display: flex;
        .lock_operate_item{
            flex: 1;
            .lock_operate_item_wai{
                margin: 0 auto;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                padding: 5px;
                box-sizing: border-box;
                box-shadow: 0px 0px 10px #ccc;
                .lock_operate_item_nei{
                    width: 100%;
                    height: 100%;
                    background: white;
                    border-radius: 50%;
                    padding: 4px;
                    box-sizing: border-box;
                    .lock_operate_item_nei_btn{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 62px;
                        color: white;
                        font-size: 10px;
                        box-shadow: 0px 0px 5px #ccc;
                    }
                    .lock_operate_item_nei_btn_sl{
                        background: #57b4f7; 
                    }
                    .lock_operate_item_nei_btn_sf{
                        background: #f78457; 
                    }
                    .lock_operate_item_nei_btn_sh{
                        background: #ff4800; 
                    }
                }
            }
            .lock_operate_item_wai_ql{
                background: #d6e9f6; 
            }
            .lock_operate_item_wai_qh{
                background: #f6dfd6;
            }
            .lock_operate_item_wai_sh{
                background:#fab094;
            }
        }
    }
}