.container {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  .car-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 14px;
      height: 13px;
      position: absolute;
      right: 0;
    }
  }
  .user-info {
    margin: 0 10px 10px 10px;
    padding: 6px;
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    text-align: left;
    .info-title {
      padding: 5px 10px;
      color: #2990f5;
      img {
        width: 13px;
        height: 13px;
        margin-right: 5px;
      }
    }
    .info-box {
      padding: 10px;
      .car-photo {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        overflow: hidden;
        background-color: beige;
        // margin-top: 5px;
        // margin-right: 10px;
        box-sizing: border-box;
        padding: 2%;
        
        img {
          width: 100%;
          height: 108px;
        }
      }
      .imgs-box {
        width: 100%;
        height: auto;
        display: grid; 
        grid-template-rows: 128px ;
        grid-template-columns: 33.3% 33.3% 33.3%;
      }
    }
    .user-name {
      border-bottom: 1px solid #dcdcdc;
    }
  }
}
.big-pic {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .imgs-box {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
}
.ananEsteward_back {
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: left;
  font-size: 25px;
  box-sizing: border-box;
  padding: 0 10px;
}
