.container{
    padding: 0 6px;
    .car-name{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 14px;
            height: 13px;
            position: absolute;
            right: 0;
        }
    }
    .date-box{
        padding: 6px;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        margin-top: 20px;
        display: flex;
        flex-flow: column;
        text-align: left;
        .date-title{
            padding: 5px 0;
        }
        .date-item{
            border-bottom: 1px solid #DCDCDC;
            color: #000;
            font-size: 12px;
            padding: 10px;
            font-weight: 500;
            position: relative;
            .select-icon{
                position: absolute;
                right: 10px;
                top: 15px;
                width: 15px;
                color: red;
            }
        }
        .date-item:last-child{
            border-bottom: none;
        }
    }
    .button-style{
        width: 210px;
        height: 40px;
        line-height: 40px;
        background: #2990F5;
        border-radius: 5px;
        color: #fff;
        margin: 0 auto;
        margin-top: 20px;
    }
    .time-style{
        display: flex;
        flex-flow: row;
        align-items: center;
        .time-center{
            margin: 20px;
        }
        .time-item{
            flex: 1;
            height: 120px;
            overflow: hidden;
            margin-top: 10px;
        }
    }
}
.ananEsteward_back{
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    font-size: 25px;
    margin-top: 5px;
}
.img-icon {
    height: 12px;
}