.title-name{
    font-size: 40px;
    color: #1570C9;
    // margin-top: 80px;
    // margin-bottom: 100px;
    padding-top: 100px;
    box-sizing: border-box;
}
.input-box{
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    display: flex;
    flex-flow: row;
    margin: 5px 35px;
    font-size: 15px;
    .img-box{
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
    input{
        border: none;
        outline: none;
        margin-left: 10px;width:100%;
    }
}
.login-button{
    background-color: #2990F5;
    color: #fff;
    margin: 50px 35px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 5px;
}