<template>
  <div class="1" style="height: 100%">
    <div class="page" style="height: 100%">
      <div class="weui-form">
        <div class="weui-form__text-area">
          <h2 class="weui-form__title">监护人信息绑定</h2>
        </div>
        <div class="weui-form__text-area"></div>
        <div class="weui-form__control-area">
          <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells weui-cells_form">
              <div class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <label class="weui-label">姓名</label>
                </div>
                <div class="weui-cell__bd weui-flex">
                  <input
                    v-model="nickName"
                    class="weui-input"
                    type="text"
                    placeholder="请输入姓名"
                  />
                </div>
              </div>
              <div class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <label class="weui-label">所属公司</label>
                </div>
                <div class="weui-cell__bd weui-flex">
                  <input
                    v-model="nickName"
                    class="weui-input"
                    type="text"
                    placeholder="请输入公司名称"
                  />
                </div>
              </div>
              <div class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd weui-flex">
                  <input
                    class="weui-input"
                    type="text"
                    placeholder="请输入手机号"
                  />
                </div>
              </div>
            </div>
            <div
              id="js_current_tips"
              style="display: none"
              class="weui-cells__tips weui-cells__tips_warn"
            >
              最多支持8位数
            </div>
          </div>
        </div>
        <div class="weui-form__opr-area">
          <a
            class="weui-btn weui-btn_primary"
            href="javascript:"
            id="showTooltips"
            @click="bindUser"
          >
            确定
          </a>
        </div>
      </div>
      <div id="js_toast" style="display: none">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
          <i class="weui-icon-success-no-circle weui-icon_toast"></i>
          <p class="weui-toast__content">已完成</p>
        </div>
      </div>
    </div>
    <div id="textMoreToast" v-if="bindInfoVisible">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast weui-toast_text-more">
            <i class="weui-icon-warn weui-icon_toast"></i>
            <p class="weui-toast__content">请填写所有信息</p>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return { queryStringObj: "", id: "", openid: "", mobile: "", nickName: "" ,bindInfoVisible:false};
  },
  methods: {
    bindUser: function () {
    //   if ("openid" in this.queryStringObj) {
    //     // 证明是从点击微信公众号菜单项那种链接进来的
    //     if (this.mobile && this.nickName) {
    //       this.$store.dispatch("bindUser", {
    //         openId: this.openid,
    //         name: this.nickName,
    //         mobile: this.mobile,
    //         id: this.id,
    //       });
    //     }else{
    //       this.bindInfoVisible = true
    //       setTimeout(() => {
    //         this.bindInfoVisible = false
    //       }, 1000);
    //     }
    //   }
    },
    ...mapMutations([]),
  },

  mounted() {
    // 该页面需要隐藏footer
    // this.queryStringObj = this.$router.currentRoute.query;
    // if ("openid" in this.queryStringObj) {
    //   // 证明是从点击微信公众号菜单项那种链接进来的
    //   this.openid = this.queryStringObj.openid;
    //   this.id = this.queryStringObj.id;
    // }

    // this.$store.commit("SET_FOOTER_STATUS", false);
  },
  filters: {},
  watch: {
    bindUserState: function () {
    //   if (val) {
    //     if (this.$route.query.bindInfoId) {
    //       this.$store.dispatch("getDeviceBindInfo", {
    //         id: this.$route.query.bindInfoId,
    //       });
    //       this.$router.push(
    //         "/homepage?bindInfoId=" + this.$route.query.bindInfoId
    //       );
    //     } else {
          
    //       this.$router.push("/devices");
    //     }
    //   }
    },
  },
  computed: {
    ...mapState({  }),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped></style>
