<template>
  <div class="home">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_active">
          <div class="weui-cell__hd">
            <span class="requiredPoint">*</span>
            <label class="weui-label">设备号</label>
          </div>
          <div class="weui-cell__bd">
            <input
              id="js_input"
              class="weui-input"
              placeholder="请扫描机身编码"
              disabled
              v-model="form.deviceId"
            />
            <div class="deviceSaomiao" @click="scanQRcode">
              <img :src="require('@/assets/image/saomiao.png')" alt="" />
            </div>
          </div>
        </div>
        <div class="weui-cell weui-cell_active">
          <div class="weui-cell__hd">
            <span class="requiredPoint">*</span>
            <label class="weui-label">经纬度</label>
          </div>
          <div class="weui-cell__bd">
            <input id="js_input" v-model="lnglat" disabled class="weui-input" />
            <div class="devicelnglat" @click="getLnglat">
              <img :src="require('@/assets/image/dingwei.png')" alt="" />
            </div>
          </div>
        </div>
        <div class="weui-cell weui-cell_uploader">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <span class="requiredPoint">*</span>
              <p class="weui-uploader__title">现场照片</p>
            </div>
            <div class="weui-uploader__bd">
              <div class="uploadImglist">
                <div
                  class="uploadImg"
                  v-for="(item, index) in filePaths"
                  :key="index"
                >
                  <div class="closeimg" @click="deleteImg(index)">
                    <img :src="require('@/assets/image/close.png')" alt="" />
                  </div>
                  <img
                    style="width: 100%; margin-bottom: 5px"
                    :src="item"
                    alt=""
                  />
                </div>
              </div>
              <div class="weui-uploader__input-box">
                <input
                  id="uploaderInput"
                  class="weui-uploader__input"
                  type="file"
                  accept="image/*"
                  multiple
                  @change="getFile"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="border-con">
          <div
            class="weui-cell weui-cell_active"
            v-for="(item, index) in district"
            :key="index"
            @click="getDistrict(index)"
          >
            <div class="weui-cell__hd">
              <span class="requiredPoint">*</span>
              <label class="weui-label">所属区域</label>
            </div>
            <div class="weui-cell__bd">
              <input
                id="js_input"
                class="weui-input"
                placeholder="请选择所属区域"
                :value="item.deviceName"
              />
              <div class="deviceSaomiao" @click.stop="deleteDistrict(index)">
                <img
                  src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/IronMan/close.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="addAddress">
            <button @click="addAddress"> <span class="addIcon">+</span>  新增区域</button>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd">
              <span class="requiredPoint">*</span>
              <label class="weui-label">安装地址</label>
            </div>
            <div class="weui-cell__bd">
              <input
                id="js_input"
                class="weui-input"
                placeholder="请输入安装位置"
                v-model="location"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 1em 0 1em">
      <a
        href="javascript:"
        class="weui-btn weui-btn_primary"
        @click="bindDevice"
        >绑定按钮</a
      >
    </div>
    <div id="textMoreToast" v-if="toastVisible">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast weui-toast_text-more">
        <!-- <i class="weui-icon-warn weui-icon_toast"></i> -->
        <p class="weui-toast__content">{{ toastInfo }}</p>
      </div>
    </div>
    <div id="toast" v-if="toastSuccess">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">更新成功</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
// @ is an alias to /src

export default {
  data() {
    return {
      lnglat: "",
      singleDeviceInfo: {
        fillpath: [],
      },

      form: {
        deviceId: "",
        latitude: "",
        longitude: "",
      },
      district: [{ districtId: "", deviceName: "" }],
      location: "",
    };
  },
  name: "Home",
  components: {},
  computed: {
    ...mapState({
      ticketObject: (state) => state.radar.ticketObject,
      filePaths: (state) => state.radar.filePaths,
      districtList: (state) => state.radar.districtList,
      toastVisible: (state) => state.radar.toastVisible,
      toastInfo: (state) => state.radar.toastInfo,
      toastSuccess: (state) => state.radar.toastSuccess,
      singleRadarInfo: (state) => state.radar.singleRadarInfo,
    }),
  },
  methods: {
    deleteDistrict(index) {
      this.district.splice(index, 1);
    },
    scanQRcode() {
      console.log("扫描二维码");
      let that = this;
      wx.ready(function () {
        // alert('正在调用')
        wx.scanQRCode({
          needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
          scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
          success: function (res) {
            console.log(res);
            // alert(res)
            if (res.errMsg.indexOf("ok") !== -1) {
              // that.form.deviceId = res.resultStr.split(";")[0];
              that.$store.dispatch("radarEntitieskey", {
                key: `urn:bh:radar:${res.resultStr.split(";")[0]}`,
              });
            }
          },
        });
      });
    },
    getLnglat() {
      let that = this;
      wx.ready(function () {
        wx.getLocation({
          type: "wgs84", // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
          success: function (res) {
            if (res.errMsg.indexOf("ok") !== -1) {
              that.form.latitude = res.latitude;
              that.form.longitude = res.longitude;
              that.lnglat = `${res.latitude},${res.longitude}`;
            }
          },
        });
      });
    },
    getFile(e) {
      let params = new FormData();
      params.append("file", e.target.files[0]);

      this.$store.dispatch("fileUpload", params);
    },
    deleteImg(index) {
      this.$store.commit("DELETE_IMG", index);
    },
    getDistrict(index) {
      let that = this;
      if (that.districtList) {
        console.log(that.districtList)
        that.$weui.picker(that.districtList, {
          onConfirm: function (result) {
            console.log(result)
            that.district[index].districtId = result[0].value;
            that.district[index].deviceName = result[0].label;
            // console.log(that.district);
            // let par = {
            //   parents: [result[0].value],
            //   start: 0,
            //   count: 100,
            //   index:index
            // };
            // that.$store.dispatch("districtchildSearch", par);
          },
        });
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "正在加载数据，请稍后重试");
        // this.toastVisible = true;
        // this.toastInfo = "正在加载数据，请稍后重试";
        setTimeout(() => {
          // this.toastVisible = false;
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
      }
    },
    addAddress() {
      this.district.push({ districtId: "", deviceName: "" });
    },
    bindDevice() {
      if (this.form.deviceId) {
        this.form;
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "请先扫描设备二维码");
        setTimeout(() => {
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
        return false;
      }
      if (this.form.longitude) {
        this.form;
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "请获取经纬度");
        setTimeout(() => {
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
        return false;
      }
      if (this.filePaths) {
        this.form;
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "请拍摄雷达安装位置");
        setTimeout(() => {
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
        return false;
      }
      if (this.district[0].districtId) {
        this.form;
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "请选择区域");
        setTimeout(() => {
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
        return false;
      }
      if (this.location) {
        this.form;
      } else {
        this.$store.commit("CHANGE_TOASTVISIBLE", true);
        this.$store.commit("CHANGE_TOASTINFO", "填写安装地址");
        setTimeout(() => {
          this.$store.commit("CHANGE_TOASTVISIBLE", false);
        }, 2000);
        return false;
      }
      let arr = "";
      let zonename = "";
      this.district.forEach((item) => {
        if (item) {
          arr = arr += `${item.districtId},`;
          zonename = zonename += `${item.deviceName},`;
        }
      });

      this.singleRadarInfo.position = {
        coordination: "WGS_84",
        latitude: this.form.latitude, //
        longitude: this.form.longitude, //
      };
      this.singleRadarInfo.location = this.location;
      this.singleRadarInfo.properties.installImages = this.filePaths;
      this.singleRadarInfo.properties.zonesName = zonename;

      console.log(arr);
      this.singleRadarInfo.zones = arr.substring(0, arr.lastIndexOf(","));
      // console.log(this.singleRadarInfo);
      this.$store
        .dispatch("radarEntities", [this.singleRadarInfo])
        .then((res) => {
          if (res.errors == []) {
            this.$store.commit("CHANGE_TOASTVISIBLE", true);
            this.$store.commit("CHANGE_TOASTINFO", "信息修改失败");
            setTimeout(() => {
              this.$store.commit("CHANGE_TOASTVISIBLE", false);
            }, 1000);
          } else {
            this.$store.commit("CHANGE_TOASTSUCCESS", true);
            setTimeout(() => {
              this.form.deviceId = "";
              this.form.latitude = "";
              this.form.longitude = "";
              this.location = "";
              this.$store.commit("GET_FILE", []);
              this.district = [{ districtId: "", deviceName: "" }];
              this.$store.commit("CHANGE_TOASTSUCCESS", false);
            }, 1000);
          }
        });
      // let p ={
      //   a:0
      // }
      // this.$store.dispatch('radarEntities',[p])
    },
  },
  mounted() {
    let par = {
      parents: ["urn:bh:district:1"],
      start: 0,
      count: 100,
    };
    this.$store.dispatch("districtSearch", par);
    // alert(location.href.split )
    let url = process.env.VUE_APP_DO_MAIN + this.$router.currentRoute.fullPath;
    // let url = location.href.split;
    // alert(url)
    this.$store.dispatch("jsapiSignature", { url });
    // setTimeout(() => {
    //   let p = {
    //     key: "urn:bh:radar:868618059988238",
    //   };
    //   this.$store.dispatch("radarEntitieskey", p);
    // }, 2000);
  },
  watch: {
    singleRadarInfo: function (val) {
      if (val) {
        this.form.deviceId = this.singleRadarInfo.imei;
        this.form.latitude = this.singleRadarInfo.position.latitude;
        this.form.longitude = this.singleRadarInfo.position.longitude;
        this.lnglat = `${this.singleRadarInfo.position.latitude},${this.singleRadarInfo.position.longitude}`;
        if (this.singleRadarInfo.properties.installImages) {
          this.$store.commit(
            "GET_FILE",
            this.singleRadarInfo.properties.installImages
          );
        }

        //  this.filePaths = this.singleRadarInfo.properties.installImages
        this.location = this.singleRadarInfo.location;
        let str = this.singleRadarInfo.zones.replace(/\[|]/g, "");
        let arr = str.split(",");
        let zonename = this.singleRadarInfo.properties.zonesName.substring(0,this.singleRadarInfo.properties.zonesName.lastIndexOf(','))
        let brr = zonename.split(",");
        console.log(arr);
        for (let i = 0; i < brr.length; i++) {
          // for (let j = 0; j < arr.length; j++) {
            // if (brr[i].urn == arr[j]) {
              this.district.unshift({
                districtId: arr[i],
                deviceName: brr[i],
              });
              console.log(this.district)
            // }
          // }
        }


        //  console.log(this.district)
      }
    },
    ticketObject: function (val) {
      // alert(val.signature)
      if (val) {
        let that = this;
        wx.config({
          debug: false,
          appId: this.ticketObject.appId,
          timestamp: this.ticketObject.timestamp, // 必填，生成签名的时间戳
          nonceStr: this.ticketObject.nonceStr, // 必填，生成签名的随机串
          signature: this.ticketObject.signature, // 必填，签名
          jsApiList: ["getLocation", "scanQRCode"], // 必填，需要使用的JS接口列表
        });
        wx.ready(function () {
          wx.getLocation({
            type: "wgs84", // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
              // alert(res)
              if (res.errMsg.indexOf("ok") !== -1) {
                that.form.latitude = res.latitude;
                that.form.longitude = res.longitude;
                that.lnglat = `${res.latitude},${res.longitude}`;
              }
            },
          });
        });
      }
    },
  },
};
</script>
<style lang='less' scoped>
.deviceSaomiao {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  line-height: 70px;
  img {
    width: 25px;
    height: 25px;
  }
}
.devicelnglat {
  position: absolute;
  top: 0;
  right: 25px;
  height: 100%;
  line-height: 70px;
  img {
    width: 18px;
    height: 25px;
  }
}
.requiredPoint {
  color: crimson;
  display: inline-block;
  position: absolute;
  left: -0.5rem;
}
.weui-uploader__hd {
  .requiredPoint {
    color: crimson;
    display: inline-block;
    position: absolute;
    left: 1.5rem;
  }
}
.border-con {
  border: 1px solid #f6f6f6;
}
.addAddress {
  margin-top: 10px;
  button {
    width: 100%;
    line-height: 30px;
    border: 1px solid #f6f6f6;
    color: #333;
    .addIcon{
      font-size: 25px;
    }
  }
}
</style>
<style lang='less'>
.weui-cell__hd {
  position: relative;
}
.weui-cells {
  margin-top: 0;
}
.weui-cells__group_form .weui-label {
  max-width: 6em !important;
  text-align: left;
}
.weui-cells__group_form .weui-cell__bd {
  text-align: left;
  color: #333;
}
.weui-uploader__title {
  text-align: left;
}
</style>
