<template>
  <div class="container">
    <div class="title-name">雷达安装</div>
    <!-- <div class="username input-box">
      <div class="img-box">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/username.png"
          alt=""
        />
      </div>
      <input v-model="username" type="text" placeholder="请输入姓名" />
    </div> -->
    <div class="username input-box">
      <div class="img-box">
        <img
          src="https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/idcard.png"
          alt=""
        />
      </div>
      <input v-model="phone" type="text" placeholder="请输入手机号" />
    </div>
    <div class="login-button" @click="login">登 录</div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import Vue from "vue";
export default {
  data() {
    return { username: "", phone: "" };
  },
  methods: {
    ...mapActions([]),
    ...mapMutations([]),
    login() {
      if (this.phone&&this.phone.length==11) {
        if (Vue.ls.get("openid")) {
          console.log(Vue.ls.get("openid"))
          this.$store.dispatch("bindradarUser", {
            // idCardNumber: this.idcard,
            openId: Vue.ls.get("openid"),
            phone:this.phone,
            roles:["radarManager"],
            bindType:"mp"
          });
        } else {
          window.location.href = process.env.VUE_APP_RADAR_URL;
        }
      } else {
        alert("请输入手机号且为11位标准手机号");
      }
    },
  },

  mounted() {},
  watch: {},
  computed: {
    ...mapState({}),
    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang="less" scoped>
@import "~@/assets/less/radar/login";
</style>
