<template>
  <div class='container'>
      <div class="btnBox">
          <div class="btnitem" @click="gotoshi(1)">雷达出货</div>
      </div>
      <div class="btnBox">
          <div class="btnitem" @click="gotoInstall">雷达戳点</div>
      </div>
      <div class="btnBox">
          <div class="btnitem" @click="gotoshi(2)">雷达维修</div>
      </div>
  </div>
</template>

<script>
import {mapState,mapGetters,mapMutations} from 'vuex';
export default {
  data() {
    return {

    }
  },
  props:[],
  methods:{ ...mapMutations([]),
    gotoshi(index){
        
        window.location.href = process.env.VUE_APP_DO_MAIN +'/radar/shipment?type='+index
    },
    gotoInstall(){
        window.location.href = process.env.VUE_APP_DO_MAIN +'/radar/upInfo'
    }
    // $router.push('/radar/upInfo')
  },

  created(){},
  mounted(){},
  watch:{},
  computed:{ ...mapState({}),

  ...mapGetters([])

  },
  components: {

  }
}
</script>

<style lang='less' scoped>
.container{
    width: 100%;
    height: 100%;
    background: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20210701165948.png') no-repeat;
    background-size: 100% 100%;
    .btnBox:first-child{
        height: 90px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding-left: 70px;
        box-sizing: border-box;
        .btnitem{
            width: 200px;
            height: 50px;
            background: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/%E7%B3%BB%E7%BB%9F2.png') no-repeat;
            background-size: 100% 100%;
            line-height: 50px;
            color:#03a9ff;font-size: 22px;
        }
    }
    .btnBox:nth-child(2){
        height: 90px;
        display: flex;
        align-items: flex-end;
         justify-content: flex-end;
         padding-right: 30px;
         box-sizing: border-box;
        .btnitem{
            width: 200px;
            height: 50px;
            background: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/%E7%B3%BB%E7%BB%9F2.png') no-repeat;
            background-size: 100% 100%;
            line-height: 50px;
            color:white;font-size: 22px;
        }
    }
    .btnBox:last-child{
        height: 90px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
         padding-left: 30px;
         box-sizing: border-box;
        .btnitem{
            width: 200px;
            height: 50px;
            background: url('https://bh-frontend.oss-cn-shanghai.aliyuncs.com/radar/%E7%B3%BB%E7%BB%9F2.png') no-repeat;
            background-size: 100% 100%;
            line-height: 50px;
            color:white;font-size: 22px;
        }
    }
}
</style>
