<template>
  <div class="home">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_active">
          <div class="weui-cell__hd">
            <span class="requiredPoint">*</span>
            <label class="weui-label">设备号</label>
          </div>
          <div class="weui-cell__bd">
            <input
              id="js_input"
              class="weui-input"
              placeholder="请扫描机身编码"
              disabled
              v-model="form.deviceId"
            />
            <div class="deviceSaomiao" @click="scanQRcode">
              <img :src="require('@/assets/image/saomiao.png')" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="singleRadarInfo">{{ singleRadarInfo.imei }}</div>
    <div style="padding: 1em 0 1em">
      <a
        href="javascript:"
        class="weui-btn weui-btn_primary"
        @click="bindDevice"
        >{{ BTNtEXT }}</a
      >
    </div>
    <div id="textMoreToast" v-if="toastVisible">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast weui-toast_text-more">
        <!-- <i class="weui-icon-warn weui-icon_toast"></i> -->
        <p class="weui-toast__content">{{ toastInfo }}</p>
      </div>
    </div>
    <div id="toast" v-if="toastSuccess">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">更新信息成功</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      form: {
        deviceId: "",
      },
      BTNtEXT: "",
      radarstatusText:''
    };
  },
  props: [],
  methods: {
    ...mapMutations([]),
    scanQRcode() {
      console.log("扫描二维码");
      let that = this;
      wx.ready(function () {
        // alert('正在调用')
        wx.scanQRCode({
          needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
          scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
          success: function (res) {
            console.log(res);
            // alert(res)
            if (res.errMsg.indexOf("ok") !== -1) {
              that.form.deviceId = res.resultStr.split(";")[0];
              that.$store.dispatch("radarEntitieskey", {
                key: `urn:bh:radar:${res.resultStr.split(";")[0]}`,
              });
            }
          },
        });
      });
    },
    bindDevice() {
      if (this.$route.query.type == 1) {
        this.$store.commit("CHANGE_RADARINFO", {
          name: "status",
          value: "LIVE",
        });
        // this.radarstatusText = '出货成功'
        // this.singleRadarInfo.status = "TEST";
      } else {
        this.$store.commit("CHANGE_RADARINFO", {
          name: "status",
          value: "MAINTAIN",
        });
        // this.radarstatusText = '正在维修'
        // this.singleRadarInfo.status = "MAINTAIN";
      }

      this.$store
        .dispatch("radarEntities", [this.singleRadarInfo])
        .then((res) => {
          if (res.error) {
            this.$store.commit("CHANGE_TOASTVISIBLE", true);
            this.$store.commit("CHANGE_TOASTINFO", "信息修改失败");
            setTimeout(() => {
              this.$store.commit("CHANGE_TOASTVISIBLE", false);
            }, 1000);
          } else {
            this.$store.commit("CHANGE_TOASTSUCCESS", true);
            setTimeout(() => {
              this.$store.commit("CHANGE_TOASTSUCCESS", false);
              this.form.deviceId = ''
              this.$store.commit("CHANGE_SINGLERADARINFO", {});
            }, 1000);
            
          }
        });
    },
  },
  created() {
    // this.$store.dispatch("radarEntitieskey", {
    //   key: `urn:bh:radar:868618059988238`,
    // });
  },
  mounted() {
    if (this.$route.query.type == 1) {
      this.BTNtEXT = "出货";
    } else {
      this.BTNtEXT = "维修";
    }
    console.log(this.$route);
    let url = process.env.VUE_APP_DO_MAIN + this.$route.fullPath;
    this.$store.dispatch("jsapiSignature", { url });
  },
  watch: {
    ticketObject: function (val) {
      console.log(val);
      if (val) {
        let that = this;
        wx.config({
          debug: false,
          appId: this.ticketObject.appId,
          timestamp: this.ticketObject.timestamp, // 必填，生成签名的时间戳
          nonceStr: this.ticketObject.nonceStr, // 必填，生成签名的随机串
          signature: this.ticketObject.signature, // 必填，签名
          jsApiList: ["getLocation", "scanQRCode"], // 必填，需要使用的JS接口列表
          success: function () {
            console.log("success");
          },
        });
        wx.ready(function () {
          wx.getLocation({
            type: "wgs84", // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
              console.log(res);
              if (res.errMsg.indexOf("ok") !== -1) {
                that.form.latitude = res.latitude;
                that.form.longitude = res.longitude;
                that.lnglat = `${res.latitude},${res.longitude}`;
              }
            },
          });
        });
      }
    },
  },
  computed: {
    ...mapState({
      singleRadarInfo: (state) => state.radar.singleRadarInfo,
      ticketObject: (state) => state.radar.ticketObject,
      toastVisible: (state) => state.radar.toastVisible,
      toastSuccess: (state) => state.radar.toastSuccess,
      toastInfo: (state) => state.radar.toastInfo,
    }),

    ...mapGetters([]),
  },
  components: {},
};
</script>

<style lang='less' scoped>
.deviceSaomiao {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  line-height: 70px;
  img {
    width: 25px;
    height: 25px;
  }
}
.devicelnglat {
  position: absolute;
  top: 0;
  right: 25px;
  height: 100%;
  line-height: 70px;
  img {
    width: 18px;
    height: 25px;
  }
}
.requiredPoint {
  color: crimson;
  display: inline-block;
  position: absolute;
  left: -0.5rem;
}
.weui-uploader__hd {
  .requiredPoint {
    color: crimson;
    display: inline-block;
    position: absolute;
    left: 1.5rem;
  }
}
.border-con {
  border: 1px solid #f6f6f6;
}
.addAddress {
  margin-top: 20px;
  button {
    width: 50%;
    line-height: 25px;
    border: 1px solid #f6f6f6;
    color: #fff;
    font-size: 25px;
  }
}
</style>
<style lang='less'>
.weui-cell__hd {
  position: relative;
}
.weui-cells {
  margin-top: 0;
}
.weui-cells__group_form .weui-label {
  max-width: 6em !important;
  text-align: left;
}
.weui-cells__group_form .weui-cell__bd {
  text-align: left;
  color: #333;
}
.weui-uploader__title {
  text-align: left;
}
</style>
